---
import config from "../../config/config.json";
import { humanize } from "@/lib/utils/textConverter";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { languages } from "../../i18n/ui";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { Image } from "@astrojs/image/components";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { navigation_button, settings } = config;

const { tags, categories, allCategories } = Astro.props;
---

<div class="relative max-w-screen-xl p-4 px-4 mx-auto sm:px-6 lg:px-8 py-26 lg:mt-20">
  <div class="relative">
    <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="ml-auto lg:col-start-2 lg:max-w-2xl">
        <p class="text-base font-extrabold leading-6 text-primary dark:text-white uppercase">
          {t('team.subtitle')}
        </p>
        <h4 class="mt-2 md:text-3xl lg:text-4xl xl:text-5xl font-extrabold">
          {t('team.title')}
        </h4>
        <p class="mt-4 text-lg leading-6 text-gray-500 dark:text-gray-300">
          {t('team.excerpt')}
        </p>
        <ul class="gap-6 mt-8 md:grid md:grid-cols-2">
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                    </path>
                </svg>
              </span>
              <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                {t('team.customerservice')}
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                    </path>
                </svg>
              </span>
              <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                {t('team.monitoring')}
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                  </path>
                </svg>
              </span>
              <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                {t('team.maintenance')}
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                    </path>
                </svg>
              </span>
              <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                {t('team.guarantee')}
              </span>
            </div>
          </li>
        </ul>
        <a class="btn btn-outline mt-12" href={`/${lang}${navigation_button.link}`}>
          {t(navigation_button.label)}
        </a>
      </div>
      <div class="relative mt-10 lg:-mx-4 relative-20 lg:mt-0 lg:col-start-1">
        <div class="relative space-y-4">
          <div class="flex items-end justify-center space-x-4 lg:justify-start">
            <Image
              class="w-32 rounded-lg shadow-lg md:w-48 hover:scale-105 duration-200"
              src={'/illustration/en.png'}
              alt={t('team.customerservice')}
              width={384}
              height={542}
            />
            <Image
              class="w-40 rounded-lg shadow-lg md:w-72 hover:scale-105 duration-200"
              src={'/illustration/mac.png'}
              alt={t('team.monitoring')}
              width={576}
              height={355}
            />
            <!--<img class="w-32 rounded-lg shadow-lg md:w-48" width="160" src="/illustration/en.png" alt="1"/>-->
            <!--<img class="w-40 rounded-lg shadow-lg md:w-72" width="260" src="/illustration/mac.png" alt="2"/>-->
          </div>
          <div class="flex items-start justify-center ml-12 space-x-4 lg:justify-start">

            <Image
              class="w-24 rounded-lg shadow-lg md:w-64 hover:scale-105 duration-200"
              src={'/illustration/ag2.png'}
              alt={t('team.maintenance')}
              width={512}
              height={300}
            />
            <Image
              class="w-32 rounded-lg shadow-lg md:w-48 hover:scale-105 duration-200"
              src={'/illustration/card.png'}
              alt={t('team.guarantee')}
              width={384}
              height={650}
            />
            <!--<img class="w-24 rounded-lg shadow-lg md:w-64" width="200" src="/illustration/ag2.png" alt="3"/>-->
            <!--<img class="w-32 rounded-lg shadow-lg md:w-48" width="200" src="/illustration/card.png" alt="4"/>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



