@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.aether-zoom {
  background-image: url("aether.svg");
  background-size: 150%;
  background-position: center center;
  @apply shadow-xl
}
